/* style.css - Definições Globais e Variáveis */

/* Importando fonte moderna do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;800&display=swap');

:root {
    --cor-azul: #0F62AC;
    --cor-escuro: #333333;
    --cor-verde: #006633;
    --cor-laranja: #Ff7400;
}

body {
    font-family: 'Outfit', sans-serif; /* Aplica a nova fonte */
    color: var(--cor-escuro);
}

/* Utilitários de Cores */
.text-azul { color: var(--cor-azul) !important; }
.bg-azul { background-color: var(--cor-azul) !important; }
.text-laranja { color: var(--cor-laranja) !important; }
.bg-laranja { background-color: var(--cor-laranja) !important; }
.text-verde { color: var(--cor-verde) !important; }
.bg-verde { background-color: var(--cor-verde) !important; }
.text-escuro { color: var(--cor-escuro) !important; }
.bg-escuro { background-color: var(--cor-escuro) !important; }

/* Foco acessível */
input:focus, textarea:focus {
    border-color: var(--cor-azul) !important;
    outline-color: var(--cor-azul) !important;
    box-shadow: 0 0 0 3px rgba(15, 98, 172, 0.2) !important;
}